<h1> Add New Actor</h1>

<form action="http://localhost:3000/create_actor">
  <div>
    <label for="actor_name">Name</label>
    <input id="actor_name" type="text" name="the_name" value="Dob">
  </div>

  <div>
    <label for="actor_bio">Bio</label>
    <input id="actor_bio" type="text" name="the_bio" value="Name">
  </div>

  <div>
    <label for="actor_dob">Dob</label>
    <input id="actor_dob" type="text" name="the_dob" value="Bio">
  </div>

  <div>
    <label for="actor_image_url">Image url</label>
    <input id="actor_image_url" type="text" name="image_url" value="Image url">
  </div>
  <div>
    <button>CREATE ACTOR</button>
  </div>
</form>

