<h1> Movies Database </h1>

<table>

<tr>
<td>
<a href="http://localhost:3000/movie">Movies</a>
</td>
</tr><tr>
<td>
<a href="http://localhost:3000/directors">Directors</a>
</td>
</tr>
<tr>
<td>
<a href="http://localhost:3000/actors">Actors</a>
</td>
</tr>



</table>
