<h1>Add Movie</h1>

<form action="http://localhost:3000/create_movie">
<div>
<label for="movie_title">Title</label>
<input id="movie_title" type="text" name="title" value="Title">
</div>

<div>
<label for="movie_year">Year</label>
<input id="movie_year" type="text" name="year" value="Year">
</div>

<div>
<label for="movie_description">Description</label>
<input id="movie_description" type="text" name="description" value="Description">
</div>

<div>
<label for="movie_image_url">Image url</label>
<input id="movie_image_url" type="text" name="image_url" value="Image url">
</div>


<div>
<button>CREATE MOVIE</button>
</div>
</form>
