<!DOCTYPE html>
<html>
<head>
  <title>MustSeeMoviesGoldenSeven</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>

<body>


<%= yield %>

<table>

<tr>
<td>
<a href="http://localhost:3000/movies">Movies</a>
</td>
</tr><tr>
<td>
<a href="http://localhost:3000/directors">Directors</a>
</td>
</tr>
<tr>
<td>
<a href="http://localhost:3000/actors">Actors</a>
</td>
</tr>

</table>


</body>
</html>
